@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e3e3e3;
}
.mainContainer {
  max-width: 90%;
  margin: auto;
}
a {
  text-decoration: none !important;
}
@media only screen and (max-width: 800px) {
  .mainContainer {
    max-width: 96%;
    margin: auto;
  }
}
