.mainNavbar {
  background-color: #eff1f3;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navTitle {
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 1.3rem;
  color: #143642;
}
.navSocialLogos {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0px 10px;
  cursor: pointer;
  color: #143642;
}
